.card {
  border: 1px solid lightgrey;
  border-radius: 10px;


  .card-header {
    background: none;
    border: none;
  }

  .card-body {
    font-size: 1.13rem;
    .card-text {
      font-family: 'Raleway';
    }
  }

  .card-footer {
    display: flex;
    justify-content: flex-end;
    border-radius: 0 0 10px 10px;
    background: white;
    .new-profiles {
      margin-right: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      .profile {
        width: 25px;
        height: 25px;
        margin-left: -7.5px;
        object-fit: cover;
        border: 2px solid white;
        border-radius: 100%;
      }
    }
  }
}

.salmon {
  background: #ffc5ae;
  border: 1px solid #ffc5ae;
  color: #000;
}

.coral {
  background: #ffc8c8;
  border: 1px solid #ffc8c8;
  color: #000;
}

.user {
  display: flex;
  align-items: center;
  p {
    font-weight: bold;
  }
  .profile {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    object-fit: cover;
  }
}

.card-text {
  white-space: pre-wrap;
}

