<div class="row" id="prayer-items">
  <div class="actions text-center" *ngIf="items.length === 0">
    <h5>Looks like there are no prayer requests at this moment, use the button above to create one</h5>
  </div>
</div>
<div class="row d-block d-sm-block d-md-none">
  <div class="item col-sm-12 mb-4" *ngFor="let item of items">
    <app-prayer-item-card (click)="openModal(item)" [churchId]="churchId" [data]="item"></app-prayer-item-card>
  </div>
</div>
<ngx-masonry class="row d-none d-md-block d-lg-none">
  <div ngxMasonryItem class="item col-lg-3 col-md-6 col-sm-12 mb-4" *ngFor="let item of items">
    <app-prayer-item-card (click)="openModal(item)" [churchId]="churchId" [data]="item"></app-prayer-item-card>
  </div>
</ngx-masonry>
<div id="update" *ngIf="showDrag" class="d-none d-none mb-3 d-lg-block alert alert-info alert-dismissible fade show" role="alert">
  <strong>Note</strong>: Dragging is experimental and the positions currently won't be saved
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="row items-row d-none d-sm-none d-md-block">
  <div (drag)="checkPosition()"  class="item col-lg-3 col-md-6 col-sm-12 mb-4" *ngFor="let item of items">
    <app-prayer-item-card [churchId]="churchId" (click)="openModal(item)" [data]="item"></app-prayer-item-card>
  </div>
</div>

<div class="modal fade" [id]="'responseModal'" tabindex="-1" aria-labelledby="responseModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Brandon's Prayer Request</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body pb-0">
        <p class="prayer-item-text p-4 mt-3">{{ currentSelected?.text }}</p>

        <div class="responses mt-5">
          <div class="response-top mb-3">
            <h5>Prayer Responses</h5>
            <button data-bs-toggle="collapse" href="#prayerResponse" role="button" class="btn btn-primary">Write a Response <i class="ms-2 fas fa-plus"></i></button>
          </div>
          <div class="collapse multi-collapse mb-5" id="prayerResponse">
            <form action="">
              <select [(ngModel)]="newResponse.type" name="share-preference" class="form-select mb-3" placeholder="Share Preference">
                <option value="anonymous" selected>Share anonymously</option>
              </select>
              <div class="mb-3">
                <label for="prayer-response-textarea" class="form-label">Your Prayer Response</label>
                <textarea [(ngModel)]="newResponse.text" placeholder="Your awesome prayer response" name="response" class="form-control" id="prayer-response" rows="3"></textarea>
              </div>
              <button data-bs-toggle="collapse" (click)="addResponse()" href="#prayerResponse" type="submit" class="btn btn-primary mb-3">Submit Prayer Response</button>
            </form>
            <hr>
          </div>
          <app-response-card [data]="response" *ngFor="let response of responses"></app-response-card>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
