<div class="container-top mb-5">
  <video class="video" autoplay loop src="/assets/videos/bg.mp4"></video>
  <div class="hero-middle">
    <div class="text-center">
      <h1 class="align-middle big text-white">Today, I'm <span class="text-white">praying for</span> <span class="ms-3 type text-primary"></span></h1>
      <p class="text-white text-bold">Bringing the world together in prayer</p>
    </div>
    <div class="actions mt-5">
      <button class="btn btn-outline-light">Join the Prayer Movement</button>
      <button class="btn btn-primary ms-3">Explore the Prayer Walls</button>
    </div>
  </div>
</div>
<section>
  <div class="container beginning">
    <h1 class="text-primary">Explore Prayers Through Time</h1>
    <div class="grid mt-5">
      <div class="row">
        <div class="col-3 mb-4">
          <div class="card">
            <div class="card-body">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero voluptatibus consequuntur corrupti facere magnam. Dignissimos, distinctio quod dicta repellendus qui doloremque iste praesentium autem. Hic perspiciatis animi doloremque consequuntur. Ab!Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt repellat quas consequatur laborum et, vitae iste commodi nihil, blanditiis, delectus pariatur! Quis quaerat eveniet deleniti nisi commodi enim nostrum dolorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, quibusdam itaque corporis eius minima adipisci, iusto neque voluptatem cum laborum labore velit porro officia accusamus explicabo quisquam beatae provident! Magnam.
            </div>
          </div>
        </div>
        <div class="col-3 mb-4">
          <div class="card">
            <div class="card-body">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero voluptatibus consequuntur corrupti facere magnam. Dignissimos, distinctio quod dicta repellendus qui doloremque iste praesentium autem. Hic perspiciatis animi doloremque consequuntur. Ab!Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt repellat quas consequatur laborum et, vitae iste commodi nihil, blanditiis, delectus pariatur! Quis quaerat eveniet deleniti nisi commodi enim nostrum dolorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, quibusdam itaque corporis eius minima adipisci, iusto neque voluptatem cum laborum labore velit porro officia accusamus explicabo quisquam beatae provident! Magnam.
            </div>
          </div>
        </div>
        <div class="col-3 mb-4">
          <div class="card">
            <div class="card-body">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero voluptatibus consequuntur corrupti facere magnam. Dignissimos, distinctio quod dicta repellendus qui doloremque iste praesentium autem. Hic perspiciatis animi doloremque consequuntur. Ab!Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt repellat quas consequatur laborum et, vitae iste commodi nihil, blanditiis, delectus pariatur! Quis quaerat eveniet deleniti nisi commodi enim nostrum dolorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, quibusdam itaque corporis eius minima adipisci, iusto neque voluptatem cum laborum labore velit porro officia accusamus explicabo quisquam beatae provident! Magnam.
            </div>
          </div>
        </div>
        <div class="col-3 mb-4">
          <div class="card">
            <div class="card-body">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero voluptatibus consequuntur corrupti facere magnam. Dignissimos, distinctio quod dicta repellendus qui doloremque iste praesentium autem. Hic perspiciatis animi doloremque consequuntur. Ab!Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt repellat quas consequatur laborum et, vitae iste commodi nihil, blanditiis, delectus pariatur! Quis quaerat eveniet deleniti nisi commodi enim nostrum dolorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, quibusdam itaque corporis eius minima adipisci, iusto neque voluptatem cum laborum labore velit porro officia accusamus explicabo quisquam beatae provident! Magnam.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-3">
      <button class="btn btn-outline-primary">View More</button>
    </div>
  </div>
</section>
