.hero-middle {
  height: 70vh;
  // background: rgb(233, 233, 248);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.video {
  position: absolute;
  height: 70vh;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  filter: contrast(0.5) brightness(0.7);
}

.beginning {
  margin-top: 75px;
  padding-bottom: 10%;
}

.big {
  font-size: 5.0rem;
}
.text-bold {
  font-weight: bold;
}
p {
  font-size: 1.3rem;
}

.card {
  border-radius: 8px;
}
