/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
$primary: #96AEFF;
$secondary: #4B5781;
$tertiary: #4B5781;
$success: #41D88C;
$warning: #FFC543;
$danger: #fc8480;

$tertiary: (
  "tertiary": #4B5781
);

@import '~bootstrap/scss/bootstrap';
@import url("https://use.typekit.net/jaz6nbk.css");
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');

$theme-colors: map-merge($theme-colors, $tertiary);
body {
  font-family: proxima-nova !important;
}
router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}
.btn-primary, .btn-secondary, .btn-primary:hover, .btn-primary:focus, .btn-secondary:hover, .btn-secondary:focus, .btn-outline-primary:hover {
  color: #fff;
}

.btn-white {
  background: white;
}
